<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="css/registro.css">
</head>

<body>
	
	<nav>
    <a href="home">Home</a> <a> / Cadastro</a>
	</nav>
   
 
    
		<form name="cadastrar_usuario" class="form-horizontal"  method="POST" style="margin: 10px" th:action="@{/teste}" th:object="${user}">
		<div class="container">

        <label for="login">Login (Nome de Usuário):</label>
        <input class="form-control" type="text" id="login" name="login" required maxlength="50" placeholder="Digite seu login" pattern="[a-zA-Z0-9_]{5,50}">
        <br><br>


        <label for="nome_completo">Nome Completo:</label>
        <input type="text" id="nome_completo" name="nome_completo" required maxlength="100" placeholder="Digite seu nome completo">
        <br><br>

 
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required maxlength="14" placeholder="Digite seu CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
        <br><br>


        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required maxlength="100" placeholder="Digite seu e-mail">
        <br><br>

    
        <label for="celular">Número de Celular:</label>
        <input type="tel" id="celular" name="celular" required maxlength="15" placeholder="Digite seu número de celular" pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}">
        <br><br>
   

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required minlength="8" placeholder="Digite sua senha">
        <br><br>


        <label for="repetir_senha">Repetir Senha:</label>
        <input type="password" id="repetir_senha" name="repetir_senha" required minlength="8" placeholder="Repita a senha">
        <br><br>

     
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>